<header class="site-header" role="banner">
  <div class="wrapper">
    <!-- NAV BAR -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/img/jiffy_logo.png" | relative_url }}" height="45" class="d-inline-block align-top" alt="Jiffy logo"> {{ site.title }}
      </a>
      <div>

        <!-- MENU -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="nav justify-content-center">
          <a class="nav-item nav-link" href="{{ "/about.html" | relative_url }}">About</a>
          <a class="nav-item nav-link" href="{{ "/browse/annotations.html" | relative_url }}">Browse</a>
          <a class="nav-item nav-link" href="{{ "/help.html" | relative_url }}">Help</a>
          <a class="nav-item nav-link" href="{{ "/stats.html" | relative_url }}">Stats</a>
        </div>
      </div>
      </nav>
      </div>
      </header>