<header class="site-header" role="banner">
  <div class="wrapper">
    <!-- NAV BAR -->
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/jiffy_logo.png" height="45" class="d-inline-block align-top" alt="Jiffy logo"> Jiffy
      </a>
      <div>

        <!-- MENU -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="nav justify-content-center">
          <a class="nav-item nav-link" href="/about.html">About</a>
          <a class="nav-item nav-link" href="/#browse">Browse</a>
          <a class="nav-item nav-link" href="/help.html">Help</a>
          <a class="nav-item nav-link" href="/stats.html">Stats</a>
        </div>
      </div>
      </nav>
      </div>
      </header>