---
layout: default
---
<a class="btn btn-sm btn-pill btn-annotation" style="float: right;" href="/browse/annotations.html">Annotations</a>
    <h1> {{ page.type }}</h1>
    <h2> 
        {{ page.value }} 
    </h2>
    <p>{{ page.definition }}</p>
    <hr/><br/>
      <ul>
        {% for ent in site.entries %}
          {% assign annot-values= ent.annotations %}
          {% if annot-values contains page.value %}
              <li><a href="{{ ent.url }}">{{ ent.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
