---
layout: default
---
<a class="btn btn-sm btn-pill btn-annotation" style="float: right;" href="{{ "/browse/annotations.html" | relative_url }}">Annotations</a>
<a class="page-title" href="{{site.url}}{{page.url}}"></a>
<h2 id="name">{{ page.title }}
  <a href="https://github.com/{{site.github_username}}/{{site.github_repo}}/edit/main/{{ page.path }}" target="_blank">
    <span title="Edit title and description" style="color: #666; font-size: 0.6em; vertical-align: super;">
      <i class="fa fa-pencil"></i>
    </span>
  </a>
</h2>
</a>
<p>{{ page.description }}</p>
<hr />
<br />
<ul>
  {% for ent in site.entries %}
  {% assign annot-values = ent.annotations %}
  {% if annot-values contains page.title %}
  <li><a href="{{ ent.url | relative_url }}">{{ ent.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

{{ content }}