---
layout: default
---
  <a class="page-title" href="{{site.url}}{{page.url}}">
    <h1 id="title">{{ page.title }}
      <a href="https://github.com/{{site.github_username}}/{{site.github_repo}}/edit/main/{{ page.path }}"
      target="_blank">
        <span title="Edit title and caption" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a></h1>
  </a>

    <h2 id="annotations">Annotations
      <a href="https://github.com/{{site.github_username}}/{{site.github_repo}}/edit/main/{{ page.path }}"
      target="_blank">
        <span title="Edit annotations" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a></h2>
      {% for annot = page.annotations  %}
        <a class="btn btn-sm btn-pill btn-annotation" href="{{annot.url}}">{{ annot.value }}</a>
      {% endfor %}
  </div>

<script> 
</script>
